@{
    ViewData["Title"] = "Report Bug";
}
<form method="post">
    <label>Title:</label>
    <input type="text" name="title" /><br />
    <label>Description:</label>
    <textarea name="description"></textarea><br />
    <label>Fixed:</label>
    <input type="checkbox" name="isFixed" value="true" /><br />
    <button type="submit">Submit</button>
</form>
